:root{
    --bg-clr-dark-blue: #252B42;
    

    --fs-900: 74px;
    --fs-700: 48px;
    --fs-500: 28px;
    --fs-400: 25px;
    --fs-200: 15px;

    --fw-regular: 400;
    --fw-bold: 700;
}

*, *::before, *::after{
    box-sizing: border-box;
   

}

.fw-regular{
    font-weight: var(--fw-regular);
}

.fw-bold{
    font-weight: var(--fw-bold);
}




*{
    margin: 0;
    padding: 0;
    font-family:'Graphik' , sans-serif;
}

body,
h1,
h2,
h3{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    line-height: 2.8;
}

h2{
    font-size: var(--fs-700);
    padding-bottom: 16px;
    font-weight: var(--fw-regular);
}

img { 
	border: none;
	max-width: 100%;
}

section{
    padding-top: 80px;
    /* width: 80%; */
    margin: 0 auto;
}

.videoscreen{
    margin-bottom: 50px;
}

body{
    background-color: white;
}

main{
   
    text-align: center;
    color: #252B42;
}

a, a:visited, a:hover{
    text-decoration: none;
}


.links a{
    font-size: 0.9375rem;
    color: white;
}

.links a:not(:last-child){
    margin-right: 20px;
}



.heronav{
    color: white;
    --maxwidth: 1920px;
    --margin: 1rem;
    width: min(var(--maxwidth), 100%); 
    background-image: url(images/hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 255px; 
    
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
}

.hero{
    text-align: center;
    padding-top: 50px;
}

.hero .btn{
    margin-top: 60px;
}


.hamburger span{
    display: block;
    background-color: white;
    height: 3px;

}

.hamburger .line1{
    width: 26px;
}

.hamburger .line2{
    width: 20px;
}

.hamburger .line3{
    width: 14px;
}

.hamburger span:not(:last-child){
    margin-bottom: 5px;
}


h1{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 27px;
}

p{
    padding: 15px 0;
    color: #252B42;
}

.subtitle{
    
    font-size: 28px;
    width: 68%;
    margin: 0 auto 60px;
    color: #252B42;
    
}

.features .subtitle{
    margin: 0 auto 50px;
}

.fastest .subtitle,
.partners .subtitle,
.pricing .subtitle{
    margin: 0 auto 80px;
}

.testimonials .subtitle{
    font-size: 13px;
    margin: 30px auto;
}

.testimonials h2{
    margin-bottom: 80px;
}

.subtitle_hero{
    width: 68%;
    margin: 0 auto;
    font-size: 28px;
    color: #E8E8E8;
}

.features{
    margin-bottom: 80px;
}

.features__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 75px;
   
}

.features__items img{
    
    padding: 10px 0;
}

.features_title{
    width: 55%;
    margin: 0 auto;
    font-size: 20px;
}

.features_description{
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
}

.fastest{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 80px;
}

.fastest img{
    scale: 90%;
    margin: 0 auto;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.newsletter img{
    scale: 90%;
    margin: 0 auto 60px;
    
}

.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.partners2{
    margin-bottom: 80px;
}

.partners_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8D8D8;
    width: min(275px, 80%);
}

.testimonials_review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-size: 10px;
    margin-bottom: 66px;
}

.testimonials span{
    font-size: 12px;
}

.testimonials{
    margin-bottom: 80px;
}


.pricing{
    width: 100%;
    background-color: #252B42;
    color: white;
    padding-bottom: 100px;
}

.pricing_subtitle{
    
    color: white;
    line-height: 40px;
}

.pricing_standard p{
    color: white;
}



.pricing__cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.pricing__card{

    width: min(80%, 335px);
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 0;
}

.pricing__card p:first-of-type{
    padding-bottom: 0;
}

.pricing_free,
.pricing_business{
    
    background: white;
    color: #252B42;
}

.pricing_standard{
    background-color: #2091F9;
    
}

.pricing_standard .btn{
    background-color: white;
    color: #2091F9;
}

.price_number{
    display: inline-block;
    font-size: 74px;
    font-weight: var(--fw-bold);
}

.info{
    display: inline-block;
}

.contact{
    margin-bottom: 150px;
   
}


.contact__column{
    display: flex;
    order: 1;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 50px;
}

.contact__flex__desktop{
    display: flex;
    flex-wrap: wrap;
}

.contact__flex{
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 3;
}

.contact__info{

    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    gap: 10px;
    width: min(80% , 285px);
    margin: 0 auto;
}

.contact__form{
    order: 2;
    width: min(90vw, 453px);
    border-radius: 20px;
    padding: 40px 0;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
}

.contact__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

footer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: #252B42;
    color: white;
    padding: 100px 0;
    gap: 75px;
}

footer p{
    color: white;
}


.footer_column{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.social{
    padding-top: 10px;
    display: flex;
    gap: 24px;
}





/* Media Queries */

@media screen and (min-width: 1024px) {

    .hide-for-desktop{
        display: none;
    }

    .heronav{
        background-image: url(images/hero.png);
        
    }

    .features__items{
        flex-wrap: unset;
        gap: 10px;
        width: 45%;
        margin: 0 auto 80px;
    }

    .fastest{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .newsletter{

        flex-direction: row;
        justify-content: center;
        gap: 110px;
    }



    .testimonials_review{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

    
    .pricing__cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
       
    }

    .pricing__card{
        margin: unset;
    }

    .contact__flex__desktop{
        display: flex;
        justify-content: space-evenly;
    }

    .contact__column{
        order: 2;
    }

    .contact__form{
        order: 1;
    }

    footer{

        flex-direction: row;
        justify-content: center;
        gap: 125px;
    }

    .footer_column{
        flex-direction: row;
        text-align: left;
        
    }

    .footer_column_x{
        min-width: 186px;
    }

    .contact__info{
        margin: unset;
    }

    .contact__flex{

        line-height: 1.7;
    }
   
    .social{
        align-items: flex-start;
    }

    .subtitle{
        
    }
   
}

@media screen and (max-width: 1023px){
    .hide-for-mobile{
        display: none;
    }


    .menu{
        width: 85%;
    }
}

.btn{

    padding: 16px 62px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #2091F9;
    border-radius: 35px;
    color: white;
    width: min(275px, 75%);
    display: inline-block;
    font-size: 20px;
    
}



input, textarea{
    width: min(275px, 75%);
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    padding: 19px 62px 19px 35px;
}

input{
    border-radius: 35px;
    width: 85%;
}

textarea{
    resize: none;
    border-radius: 5px;
}

.btn_wide{
    width: 85%;
}

